/*Glöm ej tab-image*/

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
} */

html {
  font-size: 15px;
}

body {
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
}

/* body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--neu-gray);
  font-size: 15px;
  overflow: hidden;
  display: flex;
  height: 100vh;
  overflow: auto;
  color: var(--neu-white);
} */

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.card-wrapper {
  display: flex;
  align-items: stretch;
  /* justify-content: center; */
  /* max-width: 60%; */
  height: 450px;
  /* max-width: 10%; */
  max-width: 800px;
  /* min-width: 400px; */
}

.title {
  color: var(--Very-light-gray-background-headings-buttons);
  margin-top: 2rem;
  margin-left: 2.5rem;
}

.text {
  color: var(--Transparent-white-paragraphs);
  display: flex;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 2.5rem;
  margin-right: 1.5rem;
  max-height: 100px;
  /* word-wrap: break-word; */
  /* overflow: hidden; */
  /* justify-content: space-between; */
  /* height: auto; */
  /* padding: 20px; */
  /* margin-top: 0.5rem; */
  /* align-items: center;
  justify-content: center; */
}

.card-sedan {
  background-color: var(--Bright-orange);
  border-radius: 15px 0 0 15px;
  width: 33%;
}

.sedan-img {
  /* padding: 3rem; */
  margin-top: 3rem;
  margin-left: 2.5rem;
}

.card-suvs {
  background-color: var(--Dark-cyan);
  width: 33%;
}

.suv-img {
  margin-top: 3rem;
  margin-left: 2.5rem;
}

.card-luxury {
  background-color: var(--Very-dark-cyan);
  border-radius: 0 15px 15px 0;
  width: 33%;
}

.luxury-img {
  margin-top: 3rem;
  margin-left: 2.5rem;
}

.button {
  background-color: #ffffff; /* Green */
  border: none;
  border-radius: 25px;
  color: rgb(2, 2, 2);
  padding: 10px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2rem;
  margin-left: 2.5rem;
}

.button a {
  text-decoration: none;
}

@media screen and (max-width: 837px) {
  /* body {
    display: flex;
    width: 100%;
    overflow: scroll;
    flex-wrap: wrap;
  } */

  main {
    padding: 50px 0;
    flex-direction: column;
  }

  .container {
    /* height: 100vh; */
    /* display: flex;
    align-items: center; */
    /* width: 100%; */
    /* justify-content: center;
    align-items: center; */
    /* left: 50%; */
    /* float: none; */
  }

  .card-wrapper {
    /* padding-top: 40rem; */
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
    /* flex-direction: column;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; */

    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */

    /* float: none; */

    /* width: 100%; */

    /* width: 100%; */
  }
  .card-sedan,
  .card-luxury,
  .card-suvs {
    /* left: 50%; */
    /* max-width: 600px; */
    /* width: 100%; */
    /* float: none; */
    min-width: 300px;
    min-height: 400px;
  }

  .card-sedan {
    border-radius: 15px 15px 0 0;
    /* left: 50%; */
  }
  .card-suvs {
    border-radius: none;
  }
  .card-luxury {
    border-radius: 0 0 15px 15px;
  }
}
